body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510vh;
    margin: 0;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(6, 100px); /* Muuda veergude arvu vastavalt soovile */
    gap: 10px;
  }
  
  .calendar div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .calendar div:hover {
    background-color: rgb(142, 142, 142);
  }
  
  .calendar img {
    max-width: 100%;
    max-height: 2000%;
    border-radius: 5px;
  }
  