body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .calendar-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(6, 100px); /* Muuda veergude arvu vastavalt soovile */
    gap: 60px;
    border: 2px solid;
    padding-left: 20px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 20px;
    background: linear-gradient(to top, #a3c7e3, white);
    font-size: 60px;
  
  }
  
  .calendar div {
    margin-top: -50px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: aliceblue;
    
  }
  
  
  
  .calendar div:hover {
    background-color: rgb(142, 142, 142);
  }
  
  .calendar img {
    max-width: 100%;
    max-height: 2000%;
    border-radius: 5px;
  }
  
  .calendar-title {
    text-align: center;
    margin-top: 0;
    font-size: 70px;
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #82babf, lightblue);
        -webkit-background-clip: text;
        color: transparent;
        animation: gradient 5s linear infinite;
  }
  